{% extends "base.html" %}
{% block content %}
  <section class="dash-card">
    <h1>Screen 1 {{ role }}</h1>
    <p class="muted">Hello {{ request.user.display_name }} ({{ role }})</p>

    {% if request.user.user_type == 'university' %}
      {% include "pages/partials/s1_university.html" %}
    {% elif request.user.user_type == 'company' %}
      {% include "pages/partials/s1_company.html" %}
    {% elif request.user.user_type == 'investor' %}
      {% include "pages/partials/s1_investor.html" %}
    {% else %}
      <p>No role specific content yet.</p>
    {% endif %}

    <div class="button-row" style="margin-top:1rem;">
      {% if request.user.user_type == 'university' %}
        <a class="btn primary" href="{% url 'disclosure_submit' %}">Submit Disclosure</a>
      {% endif %}
      <a class="btn" href="{% url 'screen2' %}">Go to Screen 2</a>
      <a class="btn" href="{% url 'screen3' %}">Go to Screen 3</a>
    </div>
  </section>
{% endblock %}
